{{- $noticeType := .Get 0 | default "note" -}}
{{- $raw := (markdownify .Inner | chomp) -}}
{{- $block := findRE "(?is)^<(?:address|article|aside|blockquote|canvas|dd|div|dl|dt|fieldset|figcaption|figure|footer|form|h(?:1|2|3|4|5|6)|header|hgroup|hr|li|main|nav|noscript|ol|output|p|pre|section|table|tfoot|ul|video)\\b" $raw 1 -}}

{{- if not ($.Page.Scratch.Get "region-style-loaded-flag") -}}
<style>
.region {
    border-left-width: 4px;
    border-left-style: solid;
    border-radius: 0.25rem;
    padding: 0.8rem 1.25rem;
    margin: 1rem 0;
    font-size: 0.95rem;
    line-height: 1.6;
    color: #333;
    box-shadow: 0 1px 2px 0 #0000001a;
}

.region-heading {
    font-weight: 600;
    font-size: .9rem;
    line-height: 1.4;
    text-transform: uppercase;
    margin-bottom: 0.5rem;
    display: flex;
    align-items: center;
}

.region-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-right: .6em;
    width: 1.2em;
    height: 1.2em;
}

.region-icon svg {
    width: 100%;
    height: 100%;
}

.region-content > :last-child {
    margin-bottom: 0;
}

.region-info {
    border-left-color: #d4d5d8;
    background-color: #fdfdfe;
    color: #474748;
}
.region-info .region-heading {
    color: #555;
}

.region-tip {
    border-left-color: #2e8555;
    background-color: #f4fdf4;
    color: #155724;
}
.region-tip .region-heading {
    color: #155724;
}

.region-note {
    border-left-color: #4cb3d4;
    background-color: #eef9fd;
    color: #0c5460;
}
.region-note .region-heading {
    color: #0c5460;
}

.region-warn {
    border-left-color: #ffc107;
    background-color: #fff8e6;
    color: #856404;
}
.region-warn .region-heading {
    color: #856404;
}

.region-danger {
    border-left-color: #dc3545;
    background-color: #ffebec;
    color: #721c24;
}
.region-danger .region-heading {
    color: #721c24;
}
</style>
{{- $.Page.Scratch.Set "region-style-loaded-flag" true -}}
{{- end -}}

<div class="region region-{{ $noticeType }} td-max-width-on-larger-screens">
    <div class="region-heading">
        <span class="region-icon">
            {{ if eq $noticeType "info" }}
                <svg viewBox="0 0 20 20" fill="currentColor" aria-hidden="true"><path d="M17.414 2.586a2 2 0 00-2.828 0L7 10.172V13h2.828l7.586-7.586a2 2 0 000-2.828z"></path><path fill-rule="evenodd" d="M2 6a2 2 0 012-2h4a1 1 0 010 2H4v10h10v-4a1 1 0 112 0v4a2 2 0 01-2 2H4a2 2 0 01-2-2V6z" clip-rule="evenodd"></path></svg>
            {{ else if eq $noticeType "tip" }}
                <svg viewBox="0 0 20 20" fill="currentColor" aria-hidden="true"><path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"></path></svg>
            {{ else if eq $noticeType "note" }}
                <svg viewBox="0 0 20 20" fill="currentColor" aria-hidden="true"><path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z" clip-rule="evenodd"></path></svg>
            {{ else if eq $noticeType "warn" }}
                <svg viewBox="0 0 20 20" fill="currentColor" aria-hidden="true"><path fill-rule="evenodd" d="M8.257 3.099c.625-1.095 2.13-1.095 2.755 0l5.414 9.474c.626 1.095-.124 2.427-1.377 2.427H4.22c-1.253 0-2.003-1.332-1.377-2.427l5.414-9.474zM10 14a1 1 0 100-2 1 1 0 000 2zm-1.405-4.043a1 1 0 011.994-.208l.206 2.057a1 1 0 01-1.994.208l-.206-2.057z" clip-rule="evenodd"></path></svg>
            {{ else if eq $noticeType "danger" }}
                <svg viewBox="0 0 20 20" fill="currentColor" aria-hidden="true"><path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zM8.707 7.293a1 1 0 00-1.414 1.414L8.586 10l-1.293 1.293a1 1 0 101.414 1.414L10 11.414l1.293 1.293a1 1 0 001.414-1.414L11.414 10l1.293-1.293a1 1 0 00-1.414-1.414L10 8.586 8.707 7.293z" clip-rule="evenodd"></path></svg>
            {{ else }} {{/* Default/fallback icon - similar to info */}}
                <svg viewBox="0 0 20 20" fill="currentColor" aria-hidden="true"><path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z" clip-rule="evenodd"></path></svg>
            {{ end }}
        </span>
        {{- i18n $noticeType -}}
    </div>
    <div class="region-content">
        {{- if or $block (not $raw) }}{{ $raw }}{{ else }}<p>{{ $raw }}</p>{{ end -}}
    </div>
</div>
